body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #000000;
    color: #ffffff;
  }
  
  header {
    background: #ffc400;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1em 0;
  }
  
  main {
    padding: 2em;
  }
  
  section {
    margin-bottom: 2em;
  }
  
  #menu-container, #rating-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }
  
  .card {
    background: rgb(0, 0, 0);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33% - 1em);
    box-sizing: border-box;
  }
  
  .card h3 {
    margin: 0 0 0.5em;
  }
  
  .card button {
    margin-top: 1em;
    padding: 0.5em;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  footer {
    text-align: center;
    background: #ffce09;
    color: white;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
  }

  #date-box {
    margin: 0 auto;
    background-color: #000000;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #ffffff;
    width: fit-content;
  }

  header {
    text-align: center;
    margin-bottom: 20px;
  }
  